.container{
    width: 100%;
    padding: 10px;
    
}
.row{
    
}
.table{
    border-collapse: collapse;
    width: 100px;
    padding: 10px;
    
}
th{
    width: 100%;
    background-color: brown;
    border-collapse: collapse;
}
.big-text{
    font-size: 35px;
}
button{
    background-color: rgb(14, 14, 81);
    color: white;
}
td{
    text-align: center;
}
button:hover{
    background-color: white;
    color: black;
}